.nav {
  height: 80px;
  background-color: $darkbackground;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-link {
      font-weight: 700;
      font-size: 1em;
      margin: 0px 30px;
      color: $lightprimary;

      .link-text {
        margin-left: 15px;
      }
    }

    .nav-logo {
      height: 42px;
    }
  }
}
