.nav {
  height: 80px;
  background-color: $darkbackground;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-links {
    .nav-link {
      font-weight: 700;
      font-size: 1.1em;
      margin: 0px 30px;
      color: $lightprimary;
    }
  }
}
